################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManagerStore/StoreManagerApp.Server/storemanager.db-shm
